%h1 Admin::Stations#index

.row
  .col-md-12
    %table.table.table-sm.table-condensed.table-hover
      %thead
        %tr
          %th Name
          %th Url
          %th
      %tbody
        - @stations.each do |stations|
          %tr
            %td= stations.name
            %td= stations.url

    = add_button new_admin_station_url, "New"
